<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <table class="table user-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td>
                <a th:href="@{/admin/user(id=${user.getId()})}" class="btn btn-primary">View</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">
        <a th:href="@{/admin/new}" class="btn btn-success">Add user</a>
        <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
    </div>
</div>

</body>
</html>